@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';

.d1{
  font-family:'Poppins';
 
}

body {
  font-family: "Roboto Slab", sans-serif;
}

.d2 {
  font-family: 'Fredoka', sans-serif;
}
 
.d3{
  font-family: Montserrat ;
  
  }

  /*{
    utline: 2px  solid red;
  }*/

body {
  
  font-family: "Roboto Slab", sans-serif;

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}
